<!-- <div style = "position:absolute; width:1420px; height:680px; border: 1.5px solid;"></div> -->
<div>
    <br>
    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
    <span><b>Angular Machine Test B</b></span>
    <hr>
    <span class="vertical"></span>
    <br>
    <div nz-row>
        <div nz-col nzSpan="4">
            <div class="ant-alert-warning pad_10">
                <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                <!-- <app-drag></app-drag> -->
            </div>
        </div>
    </div>
    <div style = "position:absolute; top:15%;  left:25%; width:70%; height:80%; border: 1px dashed;">
        <div nz-col nzSpan="20">
            <div class="ant-alert-info min-h_400 pad_10">
                <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                <!-- <app-drop></app-drop> -->
            </div>
        </div>
    </div>
</div>

