<!-- <div style = "position:absolute; width:1420px; height:680px; border: 1.5px solid;"></div> -->
<div>
    <br>
    <div>
        <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
        <span style="text-align:left"><b>Angular Machine Test B</b></span>
        <span style='margin-right:80%; display:inline-block;'>&nbsp;</span>
        <span style='text-indent: 30px;'><button class="button button1">Preview</button></span>
    </div>
    <hr>
    <span class="vertical"></span>
    <div nz-row>
        <div nz-col nzSpan="4">
            <div class="ant-alert-warning pad_10">
                <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                <p>Controls</p>
                <app-controls></app-controls>
            </div>
        </div>
    </div>
    <div style = "position:absolute; top:15%;  left:25%; width:70%; height:80%; border: 1px dashed;">
        <div nz-col nzSpan="20">
            <div class="ant-alert-info min-h_400 pad_10">
                <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                <p style='font-size: 12px;'>Drag and Drop the controls from left to right to create form</p>
                <!-- <app-drop></app-drop> -->
            </div>
        </div>
    </div>
</div>

